<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/homepage.css">

  <title>ApeBnB</title>
</head>

<body>
  <% if session[:username] %>
    <nav class="navbar">
      <h1 id="logo">ApeBnB<h1>
      <div id="username">
      <p><%= session[:username] %></p>
      </div>
      <form action='/logout' method='post'>
        <button type="submit" name="logout" class="button">Log out</button>
      </form>

      <form action='/listing/new' method='get'>
        <button type="submit" name="Post Listing" class="button">New listing</button>
      </form>
    </nav>
  <% else %>
          <nav class="navbar">
            <h1 id="logo">ApeBnB</h1>
            <div id="user_links">
            <ul>
              <li> <a href="/sign_up" id="Sign-up">Sign Up</a></li>
              <li> <a href="/login" id="Login">Login</a></li>
            </ul>
            </div>
          </nav>
   <% end %>

            <div class="hero">
              <img src="/images/ape-hero.png" alt="orangytangy">
            </div>

            <form action='/listings' method='get'>
              <button type="submit" name="View Listings" class="button">View Listings</button>
            </form>
</body>

</html>