<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New listing</title>
</head>
<body>
  <h1>Post a new listing!</h1>

  <form action='/add-listing' method='post'>
    <label for='title'>Title:</label>
    <input type='text' name='title' id='title' placeholder='Title'>

    <label for='price'>Price(£):</label>
    <input type="number" step="1" name='price' id='price' placeholder='Price'>

    <label for='description'>Write a short description:</label>
    <input type='text' name='description' id='description' placeholder='Example: My place is Ape-tastic!' size='50'>

    <label for='photo'>Upload Photo:</label>
    <input type="file" id="photo" name="photo">

    <input type='submit' value='Submit Listing'>
  </form>

  <a href='/'>Homepage</a>
  <a href='/listings'>Listings</a>
</body>
</html>