/*
 * navbar styles
*/

  header {
    background-color: white;
    position: fixed;
    top: 0;
    max-height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
  width: 15vw;
}

  .logo > h1 {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(255, 89, 95);
    margin: 0;
  }

  nav ul {
    position: relative;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 12px 30px;
  }

  nav p {
    color: rgb(255, 89, 95);
    font-weight: bold;
    text-decoration: none;
    margin-top: 2px;
    border-bottom: 1px solid rgb(86, 90, 92);
  }

/*
 * hero styles
*/

.hero img {
  width: 100%;
  height: auto;
}

/*
 * link styles
*/

.button {
  background: white;
  color: rgb(86, 90, 92);
  font-weight: bold;
  text-decoration: none;
  border: none;
}

button:hover {
  color: rgb(255, 89, 95);
}

button:active {
  color: rgb(255, 89, 95);
  border: none;
}

.listing-container {
  display: block;
  margin: auto;
  max-width: 70%;
}

.listing-container h1 {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  padding: 15px;
}

.listing-container img {
  display: block;
  max-width: 50%;
  height: auto;
}